{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://www.example.com/my_empty_resource" />

    <title>django-webpack-poc</title>

    <link rel="stylesheet" href="{% static 'fa-solid.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome.min.css' %}">

    <link rel="stylesheet" href="{% static 'base.min.css' %}">

    {% block head_extra %}{% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark flex-md-nowrap d-print-none">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0"  href="/">
        <i class="fas fa-fw fa-bookmark"></i> django-webpack-poc
      </a>
    </nav>
    <div class="container-fluid vh-md-100 d-flex flex-column d-print-block">
      <div class="row flex-grow-1" >
        <main class="col px-4 py-3">
          {% block body %}{% endblock %}
        </main>
      </div>
    </div>
  </body>
</html>
